<div class="row" ng-controller="CourseListCtrl">
    <div class="brainteaser">
        <h3 class="text-center">Пользователь: {{data.user}}. Количество курсов - {{data.courses.length}}</h3>
        <div class="brainteaser__courses">

            <div class="input-group">
                <input class="form-control" ng-model="courseName" />
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="addNewCourse()">Добавить</button>
            </span>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Курс</th>
                    <th></th>
                    <th>Пройден</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="course in data.courses">
                    <td>{{course.name}}</td>
                    <!-- CheckBox чрез директиву ng-model связан со свойством passed -->
                    <td><input type="checkbox" ng-model="course.passed" /></td>
                    <td>
                        <span style="{{setStyle(course.passed)}}">
                            {{showText(course.passed)}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>